<div class="container-fluid">
    <div id="wrapper" class="row-fluid">
        <h3 class='menu'>Edit User</h3>
        <div class="alert alert-error" ng-show="error">{{error}}</div>
 <!-- pass in the variable if our form is valid or invalid -->
    <form name="userForm" ng-submit="edituser(userForm.$valid)" novalidate>
    
    	<div class="form-group">
    		<label style="display: inline-block;"><strong>USER REGISTRATION TYPE</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		 <label style="display: inline-block; margin-right:20px;" ng-if="user.userRegType == 0">
    			FULL
  			</label>
  			<label style="display: inline-block; margin-right:20px;" ng-if="user.userRegType == 1">
    			GUEST
  			</label>
  			<label style="display: inline-block; margin-right:20px;" ng-if="user.userRegType == 2">
    			SOCIAL
  			</label>
  			
    	</div>
    
    	<div class="form-group">
    		<label style="display: inline-block;"><strong>UserId Type</strong></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    		 <label style="display: inline-block; margin-right:20px;">
    			<input type="radio" ng-model="user.userIdType" ng-value=0 checked="checked">
    			Email
  			</label>
    		 <label style="display: inline-block;">
   				 <input type="radio" ng-model="user.userIdType" ng-value=1>
    				Phone Number
  			</label>
    	</div>


		<!-- EMAIL -->
		<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine && submitted }" ng-if="user.userIdType==0">
			<label><strong>Email</strong></label>
			<input type="email" name="email" class="form-control" ng-model="user.email" ng-required>
			<span><p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p></span>
		</div>

		<div class="form-group"  ng-if="user.userIdType==1">
			<label><strong>Phone Number</strong></label>
			<input type="phoneNumber" name="phoneNumber" class="form-control" ng-model="user.phoneNumber" ng-required>
			<span><p ng-show="userForm.phoneNumber.$invalid && !userForm.phoneNumber.$pristine" class="help-block">Enter a valid 10 digit phone number.</p></span>
		</div>



        <!-- USERNAME -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
            <label><strong>Screen Name</strong></label>
            <input type="text" name="userName" class="form-control" ng-model="user.userName">
            <p ng-show="userForm.userName.$invalid && userForm.userName.$pristine" class="help-block">Screen Name is required.</p>

        </div>

		<!-- PASSWORD -->
		<div class="form-group" ng-class="{ 'has-error' : customError.passError != '' }">
			<label><strong>Password*</strong></label>
			<input type="password" name="password" class="form-control" ng-model="userPassword">
			<p ng-show="customError.passError != ''" class="help-block">{{customError.passError}}</p>
		</div>

		<!-- USER ACCOUNT TYPE -->
		<div class="form-group" data-ng-controller="UserRoleController">
			<label> <strong>Role</strong></label>
				<select data-ng-model="user.userRoleId" name="userRoleId"
						data-ng-options="act for act in userRoleIds">
				</select>
			<p ng-show="userForm.userRoleId.$invalid && !userForm.userRoleId.$pristine" class="help-block">User Role is required.</p>
		</div>


    <!-- tags -->
    <div class="form-group" ng-repeat="newTag in allTags track by $index">
      <label><strong>Select Tag </strong></label>
      <input type="text" ng-model="allTags[$index]"
          typeahead="tag as tag.name for tag in existingTags | filter:{name: $viewValue} | limitTo:20"
          class="form-control"><a ng-click="removeTag($index)">REMOVE</a>
    </div>
    <div>
      <a ng-click="addTag()">Add more tags</a>
    </div>

    <div class="clearfix margin-top-20"></div>


		<div class="form-group" data-ng-controller="UserStateController">
			<label> <strong>State</strong></label>
				<select data-ng-model="user.isActive" name="isActive"
						data-ng-options="act for act in isActives">
				</select>
			<p ng-show="userForm.isActive.$invalid && !userForm.isActive.$pristine" class="help-block">User State is required.</p>
		</div>

 		<h2>
			<a class="btn btn-primary pull-right" href="#/userProfile/{{user.id}}"><i
				class="icon-edit icon-white"></i> View User Profile</a>
		</h2>
        <button type="submit" class="btn btn-primary" ng-disabled="!userForm.$valid">Submit</button>

    </form>
</div>
</div>