<div class="table-responsive margin-top-20">
	<h1>DASHBOARD</h1>
	<div class="statCountContainer">
		<a href="#/discuss/P" class="statCountItem">
			<span class="statCountValue">{{statCount.postCount}}</span>
  			<span class="statCountLabel">POSTS</span>
		</a>
		<a href="#/discuss/Q" class="statCountItem">
			<span class="statCountValue">{{statCount.questionCount}}</span>
  			<span class="statCountLabel">Questions</span>
		</a>
		<a href="#/users/all" class="statCountItem">
			<span class="statCountValue">{{statCount.userCount}}</span>
  			<span class="statCountLabel">Users</span>
		</a>
		<a href="#/housings" class="statCountItem">
			<span class="statCountValue">{{statCount.housingCount}}</span>
  			<span class="statCountLabel">Housings</span>
		</a>
		<a href="#/userProfile" class="statCountItem">
			<span class="statCountValue">{{statCount.serviceCount}}</span>
  			<span class="statCountLabel">Services</span>
		</a>
	</div>

	<div id="activitiesFilter">
		<div class="divLeft">
			<label>Read Filter</label> <select ng-model="filters.readFilter">
				<option value="0">All</option>
				<option value="1">Only read</option>
				<option value="2">Only Unread</option>
			</select>
		</div>
		<div class="divLeft">
			<label>Activity Type</label> <select ng-model="filters.activityTypeFilter">
				<option value="0">All</option>
				<option value='1'>User</option>
				<option value='2'>User profile</option>
				<option value='3'>Post</option>
				<option value='4'>Question</option>
				<option value='5'>Feedback</option>
				<option value='66'>Likes</option>
				<option value='9'>Comment</option>
				<option value='10'>Answer</option>
				<option value='11'>Profile Review</option>
				<option value='12'>Share post</option>
				<option value='13'>Share question</option>
				<option value='14'>Rate housing</option>
				<option value='15'>Rate service</option>
				<option value='18'>Housing Review</option>
				<option value='19'>Housings</option>
			</select>
		</div>
		<div class="divLeft">
			<label>Date Filter</label> <select ng-model="filters.dateFilter">
				<option value="0">Today</option>
				<option value="1">Yesterday</option>
				<option value="2">Custom</option>
			</select>
		</div>
		<div ng-if="filters.dateFilter == 2" class="divLeft">
			<div class="divLeft">
				<label>Start Date</label> <input type="date" name="dateStartRange" ng-model="filters.dateStartRange">
			</div>
			<div class="divLeft">
				<label>End Date</label> <input type="date" name="dateEndRange" ng-model="filters.dateEndRange">
			</div>
		</div>
		<div class="divLeft">
			<button ng-click="postsByUser(0,10)" class="btn btn-primary">SEARCH</button>
		</div>
		<div style="clear:both;"></div>

	</div>

	<table class="table table-bordered margin-top-20" >
		<thead>
			<tr>
				<th>ActivityType</th>
				<th>Operation</th>
				<th>Title</th>
				<th>User</th>
				<th>Time</th>
				<th>IsRead</th>
			</tr>
		<tbody>
			<tr ng-repeat="log in logs"
				ng-class="{unreadActivityLog: log.read == false}"
				title="{{log.details}}">
				<td>{{actionType[log.activityType]}}</td>
				<td>{{crudTypes[log.crudType]}}</td>
	<!-- ----------------------------------------------------------------------------------------------------------- -->
				<td ng-if="[5].indexOf(log.activityType) != -1"><a
					ng-click="markAsRead(true,$index)" target="_blank"
					href="http://{{host}}/site/byadmin/#/discuss/{{log.entityId}}">----</a></td>
				<td
					ng-if="[3, 4, 6, 7, 8, 9, 10, 12, 13, 16].indexOf(log.activityType) != -1"><a
					ng-click="markAsRead(true,$index)" target="_blank"
					href="http://{{host}}/#!/discuss/{{log.entityId}}">{{log.titleToDisplay}}</a></td>
				<td ng-if="[1,2].indexOf(log.activityType) != -1"><a
					target="_blank" ng-click="markAsRead(true,$index)"
					href="http://{{host}}/#!/profile/0/{{log.entityId}}">{{log.titleToDisplay}}</a></td>
				<td ng-if="[11,14,15,17].indexOf(log.activityType) != -1"><a
					target="_blank"
					ng-click="markAsRead(true,$index);openProfile(log.entityId);">{{log.titleToDisplay}}</a></td>
				<td ng-if="[18].indexOf(log.activityType) != -1"><a
					target="_blank"
					ng-click="markAsRead(true,$index);openHousing(log.entityId);">{{log.titleToDisplay}}</a></td>
				<td ng-if="[19].indexOf(log.activityType) != -1"><a
					target="_blank"
					ng-click="markAsRead(true,$index);openHousing(log.entityId);">{{log.titleToDisplay}}</a></td>
					
	<!-- ----------------------------------------------------------------------------------------------------------- -->				
				<td>{{log.currentUserEmailId}}</td>
				<td>{{log.activityTime | date:'medium'}}</td>
				<td ng-if="log.read == true"><a class="markingLink"
					ng-click="markAsRead(false,$index)"></>Mark as unread</a></td>
				<td ng-if="log.read == false"><a class="markingLink"
					ng-click="markAsRead(true,$index)"></>Mark as read</a></td>
			</tr>
		</tbody>
	</table>
	<div ng-if="postsPagination.noOfPages > 1">
		<div class="text-left">
			<by-pagination obj="postsPagination" callback="postsByUser"></by-pagination>
		</div>
	</div>
</div>
