<div style="margin-top: 20px" class="table-responsive">
	<h1>DASHBOARD</h1>
	<table class="table table-bordered ">
		<thead>
			<tr>
				<th>ActivityType</th>
				<th>Operation</th>
				<th>Title</th>
				<th>User</th>
				<th>Time</th>
				<th>IsRead</th>

			</tr>
		<tbody>
			<tr ng-repeat="log in logs"
				ng-class="{unreadActivityLog: log.read == false}"  title="{{log.details}}">
				<td>{{actionType[log.activityType]}}</td>
				<td>{{crudTypes[log.crudType]}}</td>
				<td ng-if="[5].indexOf(log.activityType) != -1">----</td>
				<td ng-if="[3, 4, 6, 7, 8, 9, 10, 12, 13, 16].indexOf(log.activityType) != -1"><a ng-click="markAsRead(true,$index)"  target="_blank" href = "http://{{host}}/#!/discuss/{{log.entityId}}">{{log.titleToDisplay}}</a></td>
				<td ng-if="[1,2].indexOf(log.activityType) != -1"><a  target="_blank" ng-click="markAsRead(true,$index)" href = "http://{{host}}/#!/profile/0/{{log.entityId}}">{{log.titleToDisplay}}</a></td>
				<td ng-if="[11,14,15,17].indexOf(log.activityType) != -1"><a  target="_blank" ng-click = "markAsRead(true,$index);openProfile(log.entityId);">{{log.titleToDisplay}}</a></td>
				<td>{{log.currentUserEmailId}}</td>
				<td>{{log.activityTime | date:'medium'}}</td>
				<td ng-if="log.read == true"><a class="markingLink"
					ng-click="markAsRead(false,$index)"></>Mark as unread</a></td>
				<td ng-if="log.read == false"><a class="markingLink"
					ng-click="markAsRead(true,$index)"></>Mark as read</a></td>
			</tr>
		</tbody>
	</table>
	<div ng-if="postsPagination.noOfPages > 1">
			<div class="text-left">
				<by-pagination obj="postsPagination" callback="postsByUser"></by-pagination>
			</div>
		</div>
</div>
