.unreadActivityLog{
	background-color: rgba(230, 245, 233, 0.51);
}

.markingLink{
	cursor: pointer;
}

a{
	cursor: pointer;
}

.pagination
{
	float:right;
	margin-top:0px;
}
.pagination li{
	padding: 5px 1px;
	display:inline-block;
	float:left;
}
.pagination li a{
	padding: 0px 9px;
}
.divLeft
{
	float:left;
}
.divLeft select, .divLeft input
{
	width:197px;
	margin-right:10px;
}
.divLeft button
{
	margin-top:26px;
}
.margin-top-20
{
	margin-top:20px;
}