@CHARSET "ISO-8859-1";

*{
	border-radius: 0px !important;
}
a{
	text-decoration:none;
	outline:none;
}

a:hover, a:focus{
	text-decoration:none;
	outline:none;
}

.byEditor {
    border: 1px solid #ccc;
      margin-bottom: 70px;
}

.container
{
	margin-left:50px;
	margin-right:none;
	width:91%;
}
#jqxgrid, .jqx-clear
{
	width:1200px !important;
}
.tnymcePopUpwrapper
{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	background: rgba(0, 0, 0, 0.8);;
	display: none;
	z-index: 9999999;
}
.tnymcePopUpwrapperInside
{
	width: 370px;
	height: auto;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20%;
	background: #fff;
	color: #000;
	font-size: 14px;
}
.imagebgNew
{
	background: #f3f3f3;
	width: 370px;
	padding: 8px 10px 6px 10px;
	margin-left: -10px;
	margin-top: -10px;
	  line-height: 20px;
}
.tnymcePopUpwrapperInsideTitle
{
	line-height: 20px;
	font-size: 20px;
	font-weight: 700;
}
.tnymcePopUpwrapperInsideClose
{
	color: #8C8585;
	font-weight: 700;
	font-size: 15px;
	cursor: pointer;
}
.tnymcePopUpwrapperInsideLabel
{
	width: 100px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
}
.tnymcePopUpwrapperInsideUrl
{
	width: 220px;
	height: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	oveflow-y:hidden;
}
.tnymcePopUpwrapperInsideUrl input
{
	width: 220px;
}
.tnymceCloseImageAdd
{
	width: 50px;
	height: 20px;
	line-height: 15px;
	background: #7fba00;	
	min-width: 50px;
	color: #fff;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	margin-left: 236px;
	margin-bottom: 7px;
	margin-top: 4px;
}
.tnymceCloseImageButton
{
	width: 60px;
	height: 20px;
	line-height: 15px;
	background: #f0f0f0;	
	min-width: 50px;
	color: #000;
	border: 1px solid #b1b1b1;
	font-size: 13px;
	margin-bottom: 7px;
	margin-top: 4px;
}

.divRight
{
	float: right;
}

.myLabel {
   border: 1px solid #d0d0d0;
  border-radius: 4px;
  padding: 25px 25px;
  text-align: center;
  margin: 2px;
  background: #ececec;
  display: inline-block;
    background-size: 100%;
  background-repeat: round;
  /*width:100px;*/
}

.myLabel:hover {
    /*background: #CCC;*/
    color:white;
}
.myLabel:active {
    /*background: #CCF;*/
}
.myLabel :invalid + span {
    color: #2a2a2a;
}
.myLabel :valid + span {
    color: #2a2a2a;
}
label.myLabel input[type="file"] {
    position: fixed;
    top: -1000px;
}

@media (min-width: 500px){
	.articleTitleImage {
  		max-width: 444px;
	}
}
.navbar .nav > li > a 
{
	padding: 10px 13px 10px;
}

.register-page{
	padding-top:0;
	color: #858585;
	font-weight: 400;
	line-height: 25.901px;
	text-align:left;	
}

.register-page .textbox {
    width: 100%;
    padding: 2px 8px 2px 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #E5E5E5;
    border-left-width: 2px;
    border-left-color: #004f24 ;
    border-radius: 0;
    font-size: 14px;
    font-size: 13px;
    color: black;
    border-radius:3px !important;
}

/*Accordions
------------------------------------*/
/*Accordion v1*/
.acc-v1 .panel-heading {
  padding: 0;
  box-shadow: none;
}

.acc-v1 .panel-heading a {
  display: block;
  font-size: 14px;
  padding: 5px 15px;
  background: #fefefe;
}

.acc-icon a.accordion-toggle i {
  color: #555;
  margin-right: 8px;
}
.acc-icon a.accordion-toggle:hover i {
  color: #39414c;
}

.margin-bottom-5, 
.margin-bottom-10, 
.margin-bottom-15, 
.margin-bottom-20,
.margin-bottom-25, 
.margin-bottom-30, 
.margin-bottom-35, 
.margin-bottom-40, 
.margin-bottom-45, 
.margin-bottom-50, 
.margin-bottom-55, 
.margin-bottom-60 { 
   clear:both;
}
.margin-bottom-5  { margin-bottom:5px;}
.margin-bottom-10 { margin-bottom:10px;} 
.margin-bottom-15 { margin-bottom:15px;}
.margin-bottom-20 { margin-bottom:20px;}
.margin-bottom-25 { margin-bottom:25px;}
.margin-bottom-30 { margin-bottom:30px;}
.margin-bottom-35 { margin-bottom:35px;}
.margin-bottom-40 { margin-bottom:40px;}
.margin-bottom-45 { margin-bottom:45px;}
.margin-bottom-50 { margin-bottom:50px;}
.margin-bottom-55 { margin-bottom:55px;}
.margin-bottom-60 { margin-bottom:60px;}

.list-head {
    font-size: 18px;
    height: 30px;

}

.no-padding {
    padding: 0;
}
.bg-green-h2 {
    height: 2px;
    background-color: #004f24;
    position: absolute;
    top: -1px;
    z-index: 1;
}

.bg-gray-h1 {
    height: 1px;
    border-bottom: 1px solid #c5c5c5;
}

.errorRed{
	color:#F00;
}