
<h2>
	Housings 
</h2>
<div ng-controller="HousingListController as showCase">

	<div id="housingFilter">

		<div class="divLeft">
			<label>City Filter</label>
			<select ng-model="filters.cityFilter">
				<option value="null">All Cities</option>
				<option ng-repeat="city in cityLists" value="{{city}}">{{city}}</option>
			</select>
		</div>
		<div class="divLeft">
			<label>Withdraw Status Filter</label>
			<div class="switch radio1">
        		<input type="radio" class="switch-input" ng-model="filters.withdrawFilter" name="status" value="0" id="notWithdrawn" ng-checked="true">
            	<label for="notWithdrawn" class="switch-label switch-label-off">Not Withdrawn</label>
            	<input type="radio" class="switch-input" ng-model="filters.withdrawFilter" name="status" value="1" id="withdrawn">
            	<label for="withdrawn" class="switch-label switch-label-on">Withdrawn</label>                                         
            	<span class="switch-selection"></span>
        	</div>                                             
      	</div>
		<div class="divLeft">
			<label>Start Date</label> 
			<input type="date" name="dateStartRange" placeholder="yyyy-mm-dd" ng-model="filters.dateStartRange">
		</div>
		<div class="divLeft">
			<label>End Date</label> 
			<input type="date" name="dateEndRange" placeholder="yyyy-mm-dd" ng-model="filters.dateEndRange">
		</div>
		<div class="divLeft">
			<button ng-click="housingsByFilter()" class="btn btn-primary">SEARCH</button>
		</div>
		<div style="clear:both;"></div>
	</div>
	
	<table datatable="ng" dt-options="showCase.dtOptions" cellspacing="0" class="display" width="100%">
		<thead>
			<tr>
				<th>Name of the facility</th>
				<th>Categories</th>
				<th>Date added</th>
				<th>Email</th>
				<th>city</th>
				<th>Status</th>
				<th>no of reviews</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="HousingList in showCase.myHousingLists">
            	<td><a target="_blank" href="http://{{host}}/#!/users/others?profileId={{HousingList.userId}}&housingFacilityId={{HousingList.id}}">{{ HousingList.name }}</a></td>
            	<td>
            		<ul>
						<span ng-repeat="item in HousingList.categoriesId">
							<span ng-repeat="item1 in categoryLists[item].tags">
								<li>{{item1.name}}</li>
							</span>
						</span>
					</ul>
  				</td>
            	<td>{{ HousingList.createdAt | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            	<td>{{ HousingList.primaryEmail == "" && HousingList.primaryPhoneNo || HousingList.primaryEmail}}</td>
            	<td>{{ HousingList.primaryAddress.city }}</td>
            	<td>{{HousingList.verified == false && 'Unverified' || 'Verified'}}</td>
            	<td>{{HousingList.reviewCount}}</td>
        	</tr>
		</tbody>
	</table>
</div>
