<div class="container-fluid">
<!--Upload Video Modal popup-->
	<div id="editorVideoModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Insert Video</h4>
				</div>
				<div class="modal-body">
					<p style="margin-bottom: 2px;">Paste your video embedded code</p>
					<div class="clearfix"></div>
					<img src="img/dailymotion.png?versionTimeStamp=%PROJECT_VERSION%" />
					<img src="img//vimeo.png?versionTimeStamp=%PROJECT_VERSION%" />
					<img src="img/metacafe.png?versionTimeStamp=%PROJECT_VERSION%" />
					<img src="img/youtube.png?versionTimeStamp=%PROJECT_VERSION%" />
					<div class="clearfix" style="height: 10px;"></div>
					<textarea rows="" cols="" ></textarea>
				</div>
				<div class="modal-footer">
					<button type="submit"
						class="btn btn-sm btn-success comment-submit by_share_btn_submit"
						data-dismiss="modal" >Submit</button>
					<button type="button"
						class="btn btn-sm btn-success comment-submit by_btn_cancel"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>

		</div>
	</div>

	<!--Upload Share link Modal popup-->
	<div id="editorLinkModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">Insert Link</h4>
				</div>
				<div class="modal-body">
					<p>Paste link you would like to share</p>
					<textarea rows="" cols="" ></textarea>
				</div>
				<div class="modal-footer">
					<button type="submit"
						class="btn btn-sm btn-success comment-submit by_share_btn_submit"
						data-dismiss="modal" >Submit</button>
					<button type="button"
						class="btn btn-sm btn-success comment-submit by_btn_cancel"
						data-dismiss="modal">Cancel</button>
				</div>
			</div>

		</div>
	</div>

	
	<div id="wrapper" class="row-fluid">
		<h3 class='menu'>Create {{currentDiscuss.discussType == 'A' &&
			'Article' ||currentDiscuss.discussType == 'Q' && 'Question' ||
			'Post'}}</h3>
		<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>

		<table style="width: 900px;">
			<tr ng-show="currentDiscuss.discussType == 'A'">
				<td><label class="control-label" for="title"><strong>Title</strong></label>
				</td>
				<td><input type="text" ng-model="currentDiscuss.title"
					id="currentDiscuss.title" required /></td>
			</tr>
			<tr ng-show="currentDiscuss.discussType == 'A'">
				<td><label class="control-label" for="title"><strong>Title
							Photo</strong></label></td>
				<td>
					<form id="UploadImage12" action="UploadFile" method="post"
						enctype="multipart/form-data">
						<label class="myLabel"> <input name="sp" id="sp"
							type="file" required onchange="javascript:uploadImage(this)" />
							<span>Please upload<br> your main <br>photo
								(optional)
						</span>
						</label>
					</form> <input type="text" id="articleTitleImage"
					ng-model="newArticlePhotoFilename" value='' style="display: none" />
				</td>
			</tr>
			<tr>
				<td><label class="control-label" for="title"><strong>Withdraw</strong></label>
				</td>
				<td><input type="checkbox" ng-model="currentDiscuss.status"
					name="status" ng-checked="currentDiscuss.status" id="status"
					style="vertical-align: top;"></td>
			</tr>
			<tr>
				<td><label class="control-label" for="title"><strong>Featured</strong></label>
				</td>
				<td><input type="checkbox" ng-model="currentDiscuss.featured"
					name="featured" ng-checked="currentDiscuss.featured" id="featured"
					style="vertical-align: top;"></td>
			</tr>
			<tr>
				<td><label class="control-label" for="title"><strong>Announcement</strong></label>
				</td>
				<td><input type="checkbox" ng-model="currentDiscuss.promotion"
					name="promotion" ng-checked="currentDiscuss.promotion" id="promotion"
					style="vertical-align: top;"></td>
			</tr>
			<tr ng-if="currentDiscuss.discussType == 'P'">
				<td colspan="2">
				<Br/>
				<label class="control-label" for="title"><strong>Please enter a title of your post</strong></label>
				</td>
			</tr>
			<tr ng-if="currentDiscuss.discussType == 'P'">				
				<td  colspan="2">
					<input type="text"  style="width:98.5%;" />
				</td>
			</tr>

			<tr ng-if="currentDiscuss.discussType == 'P'">
				<td><br/>
					<div class="by-editor-view-buttons">
						<div class="col-md-4 by_editor_post_divider">
							<label class="showUploadPhotoFile"> <img
								src="img/photo.png" width="100%" /> <span>Upload your photo</span>
							</label>
							<input type="file" id="ShowUploadPhoto"/>
						</div>
						<div
							class="col-md-4 by_editor_post_divider">
							<label data-toggle="modal" data-target="#editorLinkModal"> <img
								src="img/link.png" width="100%" /> <span>Share a link</span>
							</label>
						</div>
						<div
							class="col-md-4 by_editor_post_divider">
							<label data-toggle="modal" data-target="#editorVideoModal"> <img
								src="img/video.png" width="100%" /> <span>Share a video</span>
							</label>
						</div>
						<div class="clearfix" style="height: 20px;"></div>
					</div>
				</td>
			</tr>

			<tr>
				<td colspan="2">
					
				</td>
			</tr>
			<tr>
				<td colspan="2"><br/><label class="control-label" for="text"><strong>Text</strong></label>
					<div class="controls byEditor">
						<textarea ui:tinymce id="text" ng-model="currentDiscuss.text"></textarea>
					</div></td>
			</tr>
			<tr>
				<td colspan="2">
					<div class="col-md-12 no-padding margin-bottom-35">
						<div class="panel-group acc-v1" id="accordion-1">
							<div class="panel panel-default by_accordian"
								ng-repeat="category in $root.discussCategoryMap">
								<div class="panel-heading">
									<h4 class="panel-title by_editor_ParentCategories"
										ng-if="category.children.length <= 0">
										<label ng-if="category.parentMenuId">
											{{$root.menuCategoryMap[category.parentMenuId].displayMenuName
											+ " >> " + category.displayMenuName}} <input type="checkbox"
											ng-click="selectTag($event, category)"
											value="{{category.id}}"
											ng-checked="{{selectedMenuId[category.id] != undefined}}">
										</label> <label ng-if="!category.parentMenuId">
											{{category.displayMenuName}} <input type="checkbox"
											ng-click="selectTag($event, category)"
											value="{{category.id}}"
											ng-checked="{{selectedMenuId[category.id] != undefined}}">
										</label>
									</h4>
									<h4 class="panel-title by_editor_ParentCategories"
										ng-if="category.children.length > 0">
										<a ng-if="!category.parentMenuId"
											class="accordion-toggle collapsed" data-toggle="collapse"
											data-parent="#accordion-1" href={{"#"+category.id}} onclick="return false;">
											{{category.displayMenuName}} </a> <a
											ng-if="category.parentMenuId"
											class="accordion-toggle collapsed" data-toggle="collapse"
											data-parent="#accordion-1" href={{
											"#"+category.id}} onclick="return false;">
											{{$root.menuCategoryMap[category.parentMenuId].displayMenuName
											+ " >> " + category.displayMenuName}} </a> <a
											class="triangle-down accordion-toggle collapsed"
											data-toggle="collapse" data-parent="#accordion-1" href={{
											"#"+category.id}} onclick="return false;"></a>
									</h4>
								</div>
								<div id={{category.id}}
									class="col-md-12 whiteBg by_editor_SubCategories panel-collapse collapse">
									<div class="panel-body col-md-6"
										ng-repeat="subCategory in category.children"
										ng-if="subCategory.module===0">
										<input type="checkbox"
											ng-click="selectTag($event, subCategory)"
											value={{subCategory.id}}
											ng-checked="{{selectedMenuId[subCategory.id] != undefined}}"> <span>{{subCategory.displayMenuName}}</span>
									</div>
								</div>
								<div style="clear: both"></div>
							</div>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: right;">
					<button type="submit" class="btn btn-primary" ng-click="register()">Submit</button>
				</td>
			</tr>
		</table>


		<script type="text/javascript">
		$(window).load(function(){
			$(".showUploadPhotoFile").click(function(){
				$("#ShowUploadPhoto").click();
			});
		});
			
			$("#UploadImage12").bind('submit', function(e) {
				var postData = new FormData(jQuery('#UploadImage12')[0]);
				$.ajax({
					url : 'UploadFile?transcoding=true',
					type : "POST",
					enctype : "multipart/form-data",
					data : postData,
					//  contentType: "application/json",
					cache : false,
					contentType : false,
					processData : false,
					success : function(data, textStatus, jqXHR) {
						$("#articleTitleImage").val(JSON.stringify(data));
						$("#articleTitleImage").trigger('input');
					},
					error : function(jqXHR, textStatus, errorThrown) {
						console.log(textStatus);
						alert("Image upload failed");
					}
				});
				e.preventDefault();
			});

			function uploadImage(input) {
				if (input.files && input.files[0]) {
					var reader = new FileReader();
					reader.onload = function(e) {
						$('.myLabel').css('background-image',
								'url(' + e.target.result + ')')
					}

					reader.readAsDataURL(input.files[0]);
					$('#UploadImage12').submit();

					//input.form.submit();
				}
			}

			BYAdmin.addEditor({
				"editorTextArea" : "text"
			});
		</script>
	</div>
</div>