<div class="container-fluid">
    <div id="wrapper" class="row-fluid">
        <h3 class='menu'>Edit Comment</h3>
        <div class="alert alert-error" ng-show="error">{{errorMessage}}</div>
<form novalidate class="form-horizontal">

<script type="text/javascript">
	/*tinyMCE
			.init({
				selector : "#edittext",
				plugins : [
						"advlist autolink lists link image charmap print preview anchor",
						"searchreplace visualblocks code fullscreen",
						"insertdatetime media table contextmenu paste" ],
				toolbar : "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image"
			});

	$(document).ready(function() {
		$('#edit_text').click(function() {
			editor_content = $('#texta').val();
			tinymce.activeEditor.setContent(editor_content);
		});
	});*/
	
</script>



	<div class="control-group">
			<label class="control-label" for="status"><strong>Status</strong></label>
			<div class="controls">
				<input type="checkbox" ng-model="currentComment.status" name="status" ng-checked="currentComment.status" id="status">&nbsp;Withdraw
			</div>
	</div>


    <p class="lead">
		<span ng-bind-html="currentComment.text" id="texta"></span>
	</p>

	<div class="control-group">
			<!-- <button id="save" class="btn btn-primary">Edit Article</button> -->
			<a ng-click = "goBack()" class="btn btn-primary">BACK</a>
			<a ng-click="editcomment()" class="btn btn-primary">SUBMIT</a>
	</div>

</form>