<div class="container-fluid">
	<div id="wrapper" class="row-fluid">
		<h3 class='menu'>Create Tag</h3>
		<div class="alert alert-error" ng-show="error">{{errorMessage}}</div>

		<table style="width: 900px;">
			<tr>
				<td><label class="control-label" for="title"><strong>Tag
							name</strong></label></td>
				<td><input type="text" ng-model="newTag.name" required /></td>
			</tr>
			<tr>
				<td><label class="control-label" for="title"><strong>Tag
							description</strong></label></td>
				<td><input type="text" ng-model="newTag.description" required /></td>
			</tr>
			<tr>
				<td colspan="2" style="text-align: right;">
					<button type="submit" class="btn btn-primary" ng-click="addTag()">Submit</button>
				</td>
			</tr>
		</table>
	</div>
</div>