
<h2>
	MENU
</h2>


<h2>
	<a class="btn btn-primary pull-right" href="#/menu/addTag"><i
			class="icon-plus-sign icon-white"></i> Create New Tag</a>
	<a class="btn btn-primary pull-right" href="#/menu/listTag"><i
		class="icon-plus-sign icon-white"></i> View Tags</a>
</h2>
</br>
</br></br></br>
<h2>
	<a class="btn btn-primary pull-right" href="#/menu/addMenu"><i
			class="icon-plus-sign icon-white"></i> Create New Menu</a>

	<a class="btn btn-primary pull-right" href="#/menu/viewMenu"><i
		class="icon-plus-sign icon-white"></i> View Menu</a>
</h2>
</br>


